<!--edit user module -->
<h2 id="title"> Modifier Participant</h2>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="b4-form-hidden">
    <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
    <label for="lastname">Nom:</label>
    <input type="text" formControlName="lastname" placeholder="lastname" class="form-control user-input" data-key='lastname' id= "lastname" placeholder="Entrer votre nom">
    </div>
    <label for="firstname">Prénom:</label>
    <div class="form-group">
    <input type="text" formControlName="firstname" placeholder="firstname" class="form-control user-input" data-key='firstname' id ="firstname" placeholder="Entrer votre prénom">
    </div>
    <br>
    <label for="datenaissance">Date de naissance:</label>
    <div class="form-group">
    <input type="text" formControlName="datenaissance" placeholder="datenaissance" class="form-control user-input" data-key='datenaissance' id="datenaissance" placeholder="Entrer votre date de naissance" >
    </div>
    <label for="email">Email: </label>
    <div class="form-group">
    <input type="text" formControlName="email" placeholder="email" class="form-control user-input" data-key='email' id="email" placeholder="Entrer votre adresse mail" >
    </div>
    <label for="tele">Telephone: </label>
    <div class="form-group">
    <input type="text" formControlName="tele" placeholder="tele" class="form-control user-input" data-key='tele' id="tele" placeholder="Entrer votre numero de telephone">
    </div>
    <div class="btnposition">
    <button type="submit" class="btn btn-primary">Update</button>
</div>
</form>

