<div class="container">
  <section>
    <ul>
      <li class="dropdownmenu">
        <a routerLink="javascript:void(0)" class="menu">Menu</a>
        <div class="dropdownmenu-content">
          <a routerLink="Participant/list">Liste des étudiants</a>
          <a routerLink="Profil">Mon Profil</a>
          <br>
          <a routerLink="">Quiter</a>
        </div>
      </li>
      <li><a routerLink="Discussion">Discussion</a></li>
      <li><a routerLink="Travaux et devoirs">Travaux et devoirs</a></li>
      <li><a routerLink="Participant/list">Participant</a></li>
    </ul>
</section>
  <router-outlet></router-outlet>
</div>