<section>
    <ul>
      <li class="dropdownmenu">
        <a href="javascript:void(0)" class="menu">Menu</a>
        <div class="dropdownmenu-content">
          <a href="/Participant/list">Liste des étudiants</a>
          <a href="/Profil">Mon Profil</a>
          <br>
          <a href="">Quiter</a>
        </div>
      </li>
      <li><a href="/Discussion">Discussion</a></li>
      <li><a href="/Travaux et devoirs">Travaux et devoirs</a></li>
      <li><a href="/Participant/list">Participant</a></li>
    </ul>
</section>
